block aside
    #aside
        ul
            li
                a Home
            li.active
                a User Management/用户管理
            li
                a Picture Approval/图片管理
            li
                a Report Tickets/举报管理
            li
                a Banner Management/首页图片推送
            li
                a Events/活动管理
            li
                a Achievement/成就管理
            li
                a Store/商店
            li
                a Item Management/道具管理
            li
                a Player Feedback/玩家反馈
